.summary-container {
    width: 264px;
    height: 644px;
    background-color: rgba(255, 153, 0, 0.30);
    position: sticky;
    top: 0;
}

.summary-container h1 {
    font-family: Lato;
    font-size: 25px;
    color: #1C2B35;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}

.summary-container h2 {
    font-family: Lato;
    font-size: 21px;
    color: #1C2B35;
    margin-left: 25px;
    margin-bottom: 50px;
}

.summary-container h3 {
    font-family: Lato;
    font-size: 17px;
    color: #1C2B35;
    margin-bottom: 25px;
    margin-left: 25px;
}

.clear-btn {
    width: 232px;
    height: 48px;
    border-radius: 4px;
    background: #FF3030;
    font-size: 17px;
    color: white;
    border: none;
    margin-left: 16px;
    margin-bottom: 16px;
}

.review-btn {
    width: 232px;
    height: 48px;
    border-radius: 4px;
    background: #F90;
    font-size: 17px;
    color: white;
    border: none;
    margin-left: 16px;
}